#clockContainer{
    position: relative;
    margin: auto;
    border: 2px solid black;
    background-color: aqua;
    /* height: 50px; */
    height: 40vw;
    width: 40vw;
    /* width: 60px; */
    background: url(clock.png) no-repeat;
    background-size: 100%;
}

#hour, #minute, #second{
    position: absolute;
    background: black;
    border-radius: 10px;
    transform-origin: bottom;
}

#hour{
    width: 0.5%;
    height: 20%;
    top: 30%;
    right: 49.7%;
    /* display: none; */
}
#minute{
    width: 0.5%;
    height: 24%;
    top: 26%;
    right: 49.7%;
    /* opacity: 0.7%; */
    /* display: none; */

}
#second{
    width: 0.5%;
    height: 29%;
    top: 21%;
    right: 49.7%;
    /* opacity: ; */
    /* display: none; */

}